body {
	font-family: sans-serif;
	line-height: 1.6;
	margin: 0;
	padding: 0;
}

header {
	background-color: #333;
	color: #0e45ea;
	font-weight: bold;
	text-align: center;
	padding: 1rem;
}

nav ul {
	list-style-type: none;
	font-weight: bold;
	padding: 0;
	display: flex;
	justify-content: center;
	gap: 20px;
}

nav ul li a {
	color: #403535;
	text-decoration: none;
	padding: 0.5rem 1rem;
	transition: background-color 0.3s;
}

nav ul li a:hover {
	background-color: #555;
}
section {
	padding: 2em;
	margin: 1em;
	background-color:rgb(177, 230, 159);
	border-radius: 5px;
	box-shadow: 0 0 10px rgba(0,0,0,0.1);
	transition: transform 0.3s ease;
}
section:hover {
	transform: scale(1.02);
}
h2 {
	color: #333;
}
.skills-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.skill {
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: transform 0.3s ease;
}

.skill:hover {
    transform: scale(1.1);
}

.skill img {
    width: 64px;
    height: 64px;
}

.skill span {
    margin-top: 0.5rem;
}

.project img {
	width: 200px;
	height: auto;
	margin-left: 2rem;
}
.cert-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.cert-container img {
    width: 200px;
    height: auto;
    transition: transform 0.3s;
}

.cert-container img:hover {
    transform: scale(1.1);
}
.resume {
	text-align: center;
	margin-top: 20px;
}

.resume a {
	display: inline-block;
	padding: 10px 20px;
	background-color: #333;
	color: white;
	text-decoration: none;
	border-radius: 5px;
	transition: background-color 0.3s;
}

.resume a:hover {
	background-color: #555;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding:1px;
    position: fixed;
	margin-top: 10px;
    bottom: 0px;
    width: 100%;
}
.contact-container {
    display: flex;
    align-items: flex-start;
    gap: 2rem;
}

.profile-pic {
    width: 200px;
    height: auto;
    border-radius: 50%;
}
